.background {
    background-color: #dad2d8;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.crossword-container {
    background-color: #143642;
    height: 90%;
    width: 90%;
    display: flex;
    overflow: hidden;
    padding: 1em;
    border-radius: 1em;
}

.clues {
    background-color: #0f8b8d;
    overflow: scroll;
    display: flex;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 1em;
}

.direction {
    overflow: scroll;
    padding: 1.5em;
}

.clue {
    font-size: medium;
    padding: 0.125em;
}

h3 {
    font-size: x-large;
}

.crossword {
    flex: 1 !important;
}
